<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/quill.snow.css">
    <link rel="icon" href="/img/favicon.ico"/>
    <style>
        .standalone-container {
            margin: 50px auto;
            max-width: 720px;
        }

        #snow-container {
            height: 200px;
        }
    </style>
</head>
<body>
<%- include('./navigation.ejs') %>

