<%- include('../includes/head.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <main class="my-auto p-5" id="content">
                <div class="text-center py-5">
                    <h1 class="display-1">Error 500</h1>
                    <h2>Unexpected Error. Please Try Again.</h2>
                </div>
            </main>
        </div>
    </div>
</div>
<%- include('../includes/end.ejs') %>