<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= currentUser.details.firstName %> <%= currentUser.details.lastName %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= currentUser.email %></h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="card-link">View Profile</a>
        <a href="/<%= locale %>/auth/logout" class="card-link">Logout</a>
    </div>
</div>